<mat-card class="contentCard">
  {{serviceValue}}
  <b>Pick your lift: </b>
  <mat-form-field>
    <mat-select placeholder="Big Three" floatPlaceholder="always" (change)="picker($event)">
      <mat-option *ngFor="let three of threes" [value]="three.value">
        {{three.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>


<div class=weightInputs>
  <md-form-field>
    <input mdInput [(ngModel)]="week1Weight" placeholder="Week 1 weight">
  </md-form-field>
  <md-form-field>
    <input mdInput [(ngModel)]="week2Weight" placeholder="Week 2 weight">
  </md-form-field>
  <md-form-field>
    <input mdInput [(ngModel)]="week3Weight" placeholder="Week 3 weight">
  </md-form-field>
  <md-form-field>
    <input mdInput [(ngModel)]="week4Weight" placeholder="Week 4 weight">
  </md-form-field>
</div>

<button mat-raised-button color="primary" class="weightPopUp" (click)="addToTable()">Calculate Goals</button>


<div class="squat-container" *ngIf="squatGraph">
  <div fxLayout="row">
    <div fxFlex="40%">
      <div class="squatGraph">
        <label id="tableTitle" style="color:hotpink">Weight Chart</label>
        <table id="squatTable" (click)="addToTable()">
          <thead>
          <tr>
            <td>Week 1</td>
            <td>Week 2</td>
            <td>Week 3</td>
            <td>Week 4</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td id="week1SquatWeight">{{week1Weight}}</td>
            <td id="week2SquatWeight">{{week2Weight}}</td>
            <td id="week3SquatWeight">{{week3Weight}}</td>
            <td id="week4SquatWeight">{{week4Weight}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div fxFlex="40%">
      <div class="squatGoalGraph">
        <label id="goalTitle" style="color:hotpink">Goal Chart</label>
        <table id="squatGoalTable" (click)="addToTable()">
          <thead>
          <tr>
            <td>Week 1</td>
            <td>Week 2</td>
            <td>Week 3</td>
            <td>Week 4</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td id="week1GoalSquatWeight"></td>
            <td id="week2GoalSquatWeight"></td>
            <td id="week3GoalSquatWeight"></td>
            <td id="week4GoalSquatWeight"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<div class="bench-container" *ngIf="benchGraph">
  <div fxLayout="row">
    <div fxFlex="40%">
      <div class="benchGraph">
        <label id="tableTitle1" style="color:hotpink">Weight Chart</label>
        <table id="benchTable" (click)="addToTable()">
          <thead>
          <tr>
            <td>Week 1</td>
            <td>Week 2</td>
            <td>Week 3</td>
            <td>Week 4</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td id="week1BenchWeight">{{week1Weight}}</td>
            <td id="week2BenchWeight">{{week2Weight}}</td>
            <td id="week3BenchWeight">{{week3Weight}}</td>
            <td id="week4BenchWeight">{{week4Weight}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div fxFlex="40%">
      <div class="benchGoalGraph">
        <label id="goalTitle1" style="color:hotpink">Goal Chart</label>
        <table id="benchGoalTable" (click)="addToTable()">
          <thead>
          <tr>
            <td>Week 1</td>
            <td>Week 2</td>
            <td>Week 3</td>
            <td>Week 4</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td id="week1GoalBenchWeight"></td>
            <td id="week2GoalBenchWeight"></td>
            <td id="week3GoalBenchWeight"></td>
            <td id="week4GoalBenchWeight"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="deadlift-container" *ngIf="deadLiftGraph">
  <div fxLayout="row">
    <div fxFlex="40%">
      <div class="deadLiftGraph">
        <label id="tableTitle2" style="color:hotpink">Weight Chart</label>
        <table id="deadLiftTable" (click)="addToTable()">
          <thead>
          <tr>
            <td>Week 1</td>
            <td>Week 2</td>
            <td>Week 3</td>
            <td>Week 4</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td id="week1DeadLiftWeight">{{week1Weight}}</td>
            <td id="week2DeadLiftWeight">{{week2Weight}}</td>
            <td id="week3DeadLiftWeight">{{week3Weight}}</td>
            <td id="week4DeadLiftWeight">{{week4Weight}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div fxFlex="40%">
      <div class="deadLiftGoalGraph">
        <label id="goalTitle2" style="color:hotpink">Goal Chart</label>
        <table id="deadLiftGoalTable" (click)="addToTable()">
          <thead>
          <tr>
            <td>Week 1</td>
            <td>Week 2</td>
            <td>Week 3</td>
            <td>Week 4</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td id="week1GoalDeadLiftWeight"></td>
            <td id="week2GoalDeadLiftWeight"></td>
            <td id="week3GoalDeadLiftWeight"></td>
            <td id="week4GoalDeadLiftWeight"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<button mat-raised-button color="primary" class="saveButton">Save</button>

