form{
  display: inline-grid;
}

.contentCard{
  margin:20px;
  left:150px;
  width:265px;
  height:50px;
}
.weightInputs{
  margin-left:170px;
}

input, button{
  margin:5px;
}


td{
  border-color:black;
  border-style:solid;
}


.weightPopUp{
  margin-left:400px;
}



.squatGraph {
  margin-left: 170px;
  width: 50%
}

#squatTable{
  border-style:solid;
  color: darkorange;
}

#squatGoalTable{
  border-style:solid;
  color: darkorange;
}



.benchGraph{
  margin-left: 170px;
  width: 50%
}
#benchTable{
  border-style:solid;
  color: darkorange;
}

#benchGoalTable{
  border-style:solid;
  color: darkorange;
}




.deadLiftGraph{
  margin-left: 170px;
  width: 50%
}
#deadLiftTable{
  border-style:solid;
  color: darkorange;
}

#deadLiftGoalTable{
  border-style:solid;
  color: darkorange;
}



.saveButton{
  left:250px;
}
