<md-card class="calcFormCard">
  <form [formGroup]="calcForm" (ngSubmit)="calculateWeight()">
    <input formControlName="targetWeightText" type="email" placeholder="Target Weight">
    <button>Calculate</button>
  </form>
</md-card>

<md-card class="contentCard">
  <div class="infoDiv">
    <a>45's: {{fortyFives}}</a>
    25's: {{twentyFives}}
    <a>
      10's: {{tens}}
    </a>
    <a>
      5's: {{fives}}
    </a>
    <a>
      2.5's: {{twoPointFives}}
    </a>

    <a>
      <h2>Total Weight: {{totalWeight}}</h2>
    </a>
  </div>
  <br/>

  <div class="barbellDiv">
    <table>
      <tr style="height:100px">
        <td>
          <div class="blanks" *ngIf="blanks > 0" [ngStyle]="{'height' : '10%', 'width' : blanks / 2 * 20 + 'px'}"></div>
        </td>
        <td *ngFor="let weight of leftWeights" style="color: #FFF">
          <div class="weights" [ngStyle]="{'height': weight / standardHeight + 20 + '%', 'width': '25px'}">
            {{weight}}
          </div>
        </td>
      </tr>
    </table>

    <table style="width: 300px;">
      <tr>
        <td>
          <div style="height:10%"></div>
        </td>
      </tr>
    </table>

    <table>
      <tr>
        <td *ngFor="let weight of rightWeights" style="color: #FFF">
          <div class="weights" [ngStyle]="{'height': weight / standardHeight + 20 + '%', 'width': '25px'}">
            {{weight}}
          </div>
        </td>
        <td>
          <div class="blanks" *ngIf="blanks > 0" [ngStyle]="{'height' : '10%', 'width' : blanks / 2 * 20 + 'px'}"></div>
        </td>
      </tr>
    </table>
  </div>
</md-card>
