.calcFormCard {
  margin: 20px;
  width: 83%;
  height: 50px;
  left: 150px;
}

.contentCard {
  margin: 20px;
  width: 83%;
  height: 65%;
  left: 150px;
  display: block;
}

td > div {
  background-color: black;
  text-align: center;
}

table {
  border: none;
  height: 100px;
}

.infoDiv {
  display: grid;
}

.barbellDiv {
  position:relative;
  display: flex;
  left:5%;
  height: 300px;
  width: 100%;
}

.plateCount {
  border-color: purple;
  border-style: double;
  padding: 10px
}

.barbellContainer{
  align-content: center;
}
