<md-card class="contentCard">

  <div class="weightOnBarbellBox">
    <label for="lbPlates45" class="lbPlates">45lb Plates: </label>
    <label id="lbPlates45">0</label>
    <br/>

    <label for="lbPlates25" class="lbPlates">25lb Plates: </label>
    <label id="lbPlates25">0</label>
    <br/>

    <label for="lbPlates10" class="lbPlates">10lb Plates: </label>
    <label id="lbPlates10">0</label>
    <br/>

    <label for="lbPlates5" class="lbPlates">5lb Plates: </label>
    <label id="lbPlates5">0</label>
    <br/>

    <label for="lbPlates2point5" class="lbPlates">2.5lb Plates: </label>
    <label id="lbPlates2point5">0</label>
    <br/>

    <form [formGroup]="calcForm" (ngSubmit)="getWeightCalc($event)">
      <input formControlName="targetWeightText" type="email" placeholder="Target Weight">
      <button>Calculate</button>
    </form>

    <svg id ="svgresult" width="550" height="250">
      <rect id="thebar" width="600" height="10" x="100" y="50"></rect>

    </svg>


    <div id="words"></div>
  </div>
</md-card>

